 .password-container {
            position: relative;
            width: 100%;
        }
        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: black; /* Changed color to match theme */
        }
        .toggle-password:hover {
            color:  white; /* Darker hover color */
        }